include COPYING.txt
include HACKING
include NEWS
include README.txt
include apache-loggerhead.conf
include breezy.conf
include loggerhead.conf.example
include loggerheadd
include Makefile
recursive-include docs *
recursive-include loggerhead/static *
recursive-include loggerhead/tests/ *.py *.pt
