body {
    background: url("loggerhead-background.png"); 
    margin: 0px;
    font-family: "Lucida Grande", Helvetica;
    line-height: 1.4em;
}
img {
    border: none;
}
p,ul {
    margin-left: 2em;
    width: 70%;
}

a {
    text-decoration: none;
    color: #204c90;
}
a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 100%;
    margin-left: 2em;
    xmargin-right: 2em;
    margin-top: 1.5em;
    border-bottom: solid 1px black;
}

ul {
    list-style: url(sphere.png);
}
ul.downloads .md5 {
    font-family: monospace;
    margin-left: 2em;
}
li {
	margin-bottom: 1em;
}

.link {
	margin-left: 1em;
}
