/*Info Box*/
#infoContainer {
	width:970px;
	padding:10px 10px 0px 10px;
	margin:0px 0px 10px 0px;
	color:#666;
	background:#fcfcfc url(../images/bg_infobox.gif) repeat-y top right;
	border:1px solid #b7b7b7;
}
ul#list-files {
	float:right;
	width:460px;
	list-style:none;
	margin:0px;
	padding:0px;
	font:normal 11px/normal sans-serif;
	color:#000;
}
ul#list-files li {
	width:440px;
	padding:2px 0px 2px 20px;
	margin:0px 0px 2px 0px;
	background:url(../images/ico_file.gif) 2px 0px no-repeat;
}
#infTxt {
	float:left;
	width:493px;
	margin:0px 0px 5px 0px;
}
.information, .comiter, .timer, .mfrom, .revid {
	clear:both;
	margin:0px;
	padding:0px 0px 2px 18px;
	font:normal 11px/1.3 sans-serif;
	color:#666;
	background:url(../images/ico_description.gif) no-repeat top left;
}
.revid {
    padding:1px 0px 0px 18px;
    margin:0px 10px 5px 0px;
}
.comiter, .mfrom {
	clear:none;
	color:#000;
	padding:1px 0px 0px 18px;
	margin:0px 10px 5px 0px;
	float:left;
	display:inline;
	background:url(../images/ico_committer.gif) no-repeat 2px 0px;
}
.timer {
	margin:0px 10px 5px 0px;
	padding:1px 0px 0px 18px;
	float:left;
	clear:none;
	display:inline;
	background:url(../images/ico_time.gif) no-repeat top left;
}
.mfrom {
	background:url(../images/ico_mergefrom.gif) no-repeat top left;
}
/**/
#loggerheadCont p.expand, #loggerheadCont p.expand a, #loggerheadCont p.expand a:link, #loggerheadCont p.expand a:visited, #loggerheadCont p.expand a:hover {
	color:#0f6b97;
	text-decoration:none;
	margin-right:10px;
	float:left;	
}
#loggerheadCont p.codin, #loggerheadCont p.codin a, #loggerheadCont p.codin a:link, #loggerheadCont p.codin a:visited, #loggerheadCont p.codin a:hover {
	color:#000;
	font-size:12px;
	text-decoration:none;
	margin-right:10px;
	float:left;	
}
/*Diff Boxes*/
.diffBox {
	width:100%;
	padding:6px 0%;
	background:#eef6fa;
	border:1px solid #d2d2d2;
	margin:10px 0px 0px 0px;
}
.diffBox img {
	vertical-align:middle;
}
.diffBox a, .diffBox a:link, .diffBox a:visited, .diffBox a:hover {
	text-decoration:none;
}
.lineNumber {
	float:left;
	width:2%;
	padding:0px 1%; 
	border-right:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5;
	color:#000;
	background:#f8fbfd;
	font:normal 12px/1.8 'monospace';	
	text-align:right;
}
.lineCode, .removecode, .addcode {
	float:left;
	width:43%;
	padding:0px 1%; 
	color:#000;
	background:#fff;
	font:normal 12px/1.8 'monospace';
}
.delete, .insert {
	display:block;
	background:#ff7f7f;
}
.insert {
	background:#92ed92;
}
.separate {
    height: 4em;
    background: #e3e3e3;
}
ul#pages {
	margin-top:10px;
}
/*Foot Links*/
#loggerheadCont p.lpandbzr {
	float:left;
	padding:3px 0px 0px 0px;
	margin-top:10px;
}
