/*Info Box*/
#infoContainer {
	width:900px;
	padding:10px 10px 0px 10px;
	margin:0px 0px 10px 0px;
	color:#666;
	background:#fcfcfc;
	border:1px solid #b7b7b7;
}
.information, .comiter, .timer, .mfrom, .revid {
	float:left;
	margin:0px 10px 5px 0px;
	padding:0px 0px 2px 18px;
	font:normal 11px/1.3 sans-serif;
	color:#666;
	background:url(../images/ico_description.gif) no-repeat top left;
}
.revid {
    float:left;
    padding:1px 0px 0px 18px;
    margin:0px 10px 5px 0px;
}
.comiter, .mfrom {
	clear:none;
	color:#000;
	padding:1px 0px 0px 18px;
	margin:0px 10px 5px 0px;
	float:left;
	display:inline;
	background:url(../images/ico_committer.gif) no-repeat 2px 0px;
}
.timer {
	margin:0px 10px 5px 0px;
	padding:1px 0px 0px 18px;
	float:left;
	clear:none;
	display:inline;
	background:url(../images/ico_time.gif) no-repeat top left;
}
.mfrom {
	background:url(../images/ico_mergefrom.gif) no-repeat top left;
}
.information {
    clear:both;
    width:100%;
    position:relative;
}
