
/* from launchpad */
body {
    background-color: #fcfcfc;
    color: black;
    font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
    font-size: 12pt;
    padding: 0px;
    text-align: left;
}

a {
	text-decoration: none;
	color: #000088;
}
a:hover {
	color: black;
}

h1 {
    color: #708a96;
	font-weight: normal;
	font-size: 1.6em;
    margin-bottom: 1.5em;
}
h1 .filename {
	font-family: monospace;
}

.branch-name {
	color: #47626e;
}


/* ----- navigation bar at the top ----- */

.navbar {
}

.navbar table {
	width: 100%;
}

.navbar .bar {
    background-color: #dee7ec;
    border: 1px solid #8cacbb;
    font-size: smaller;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* revision navigation buttons (the ones at the top right) */
.navbuttons {
    padding: 2px;
	bottom: 0px;
	text-align: right;
	width: auto;
	border-left: 1px dotted #8cacbb;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.navbuttons a {
    font-weight: normal;
    margin-left: 2px;
    margin-right: 2px;
}

.navbuttons a:hover {
    padding: 0;
    color: blue;
}

/* the "changes: 425 / 425" header at the top right */
.navposition {
	margin-bottom: 1.5em;
}

.navposition table tr td {
    margin-top: 0px;
    font-weight: bold;
    font-size: smaller;
}

/* navigation button in the pages (the ones at the top left) */
.buttons {
}

.buttons a {
    font-weight: normal;
    color: #000088;
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 7px;
    border-right: 1px dotted #8cacbb;
}

.buttons a:hover {
    font-weight: normal;
    color: blue;
}


/* ----- revision display in various places ----- */

.revision .revno {
	font-weight: bold;
}

.revision .revid {
    font-family: monospace;
    font-size: smaller;
    padding-left: 1em;
}

.revision .log {
    font-size: smaller;
}


/* ----- list of merge points for a revision ----- */

.info-entry {
    font-size: smaller;
    margin-bottom: 2em;
    padding: 0px;
    background-color: #f4f5f8;
    border: 1px solid #8cacbb;
    width: 60%;
}

.info-entry th {
    background-color: #dee7ec;
    font-weight: normal;
    color: black;
    text-align: right;
    vertical-align: top;

    padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 2px;
	padding-bottom: 2px;
}

.info-entry td {
    font-weight: normal;
  	padding-left: 0.5em;
	padding-top: 2px;
	padding-bottom: 2px;
}


/* ----- changelog page ----- */

.hide-all {
	font-size: smaller;
}

/* secret css-jutsu to make hidden margins vanish on a table */
.log-entries table {
	border-collapse: collapse;
    width: 100%;
}

.log-entries .revision-header {
    background-color: #dee7ec;
    padding: 3px;
    width: 80%;
	margin-top: 1em;
	margin-left: 1em;
}

.log-entries .revision-header td.expand-button {
    width: 20px;
}

.log-entries .revision-header .revision-number {
	width: 6em;
	padding-left: 0.5em;
}

.log-entries .revision-header .inventory-link {
	font-size: smaller;
	vertical-align: middle;
	width: 4em;
	text-align: right;
	padding-right: 0.5em;
}

.log-entries .revision-details-block {
	width: 80%;
	border: none;
	margin-left: 8em;
	margin-bottom: 1.5em;
}

.log-entries .revision-details table {
	font-size: smaller;
	width: 100%;
}

.log-entries .revision-details th {
	width: 8em;
	text-align: right;
	padding-right: 0.5em;
	vertical-align: top;
}

.log-entries .revision-details td.date {
/*	font-family: monospace; */
}

.log-entries .revision-details th.files {
	padding-top: 1em;
}
.log-entries .revision-details td.files {
	font-family: monospace;
	padding-top: 1em;
}

.log-entries .revision-details th.description {
	padding-top: 1em;
}
.log-entries .revision-details td.description {
	font-family: monospace;
	padding-top: 1em;
}

/* default state: hide all */
.show-button { display: none; }
.hidden-details { display: none; }
.hide-all#hide-all { display: none; }


/* ----- revision page ----- */

.revision-info {
    border: none;
    font-size: smaller;
    margin-bottom: 1em;
    padding: 0;
    background-color: #f4f5f8;
    border: 1px solid #8cacbb;
    width: 80%;
}

/* secret css-jutsu to make hidden margins vanish on a table */
.revision-info table {
	border-collapse: collapse;
    width: 100%;
}

.revision-info th {
	background-color: #dee7ec;
    color: black;
	font-weight: normal;
	text-align: right;
	vertical-align: top;
	
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 2px;
	padding-bottom: 2px;
}

.revision-info td {
	font-weight: normal;
  	padding-left: 0.5em;
	padding-top: 2px;
	padding-bottom: 2px;
}

.revision-info table td.date {
	font-family: monospace;
}

.revision-info table td.description {
	font-family: monospace;
}

.revision-info table td.files {
	font-family: monospace;
}

.revision-info table tr.divider {
    border-top: 1px solid #8cacbb;
}


/* ----- overly complex diff display ----- */

.diff {
    margin-bottom: 1em;
    padding-top: 10px;
    margin-top: 20px;
    width: 100%;
    background-color: #fcfcfc;
    font-family: monospace;
}

.diff-block,.diff-chunk {
	border-collapse: collapse;
    width: 100%;
}

.diff-block th.filename {
	font-family: monospace;
	font-weight: normal;
	font-size: smaller;
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: left;
	background-color: #dee7ec;
}

.diff-chunk {
    font-size: 66%;
    margin-top: 0px;
	margin-bottom: 1em;
}

.diff-chunk th.lineno {
	font-weight: bold;
    border-bottom: 1px solid #8cacbb;
    border-top: 1px solid #dee7ec;
    border-left: 1px solid #dee7ec;
}
.diff-chunk .insert {
	background-color: #b0efb0;
}
.diff-chunk .delete {
	background-color: #ffa0a0;
}
.diff-chunk td.text {
	padding-left: 1em;
}

.diff .lineno {
	color: purple;
	background-color: #dee7ec; 
	width: 4em;
	text-align: right;
	padding-right: 3px;
	border-bottom: 1px solid #8cacbb;
}
.diff .info {
	color: blue;
	background-color: #dee7ec;
	margin-top: 15px;
}


/* ----- file inventory ----- */

table.inventory {
	border-collapse: collapse;
    width: 80%;
    font-size: smaller;
    margin-top: 1em;
    border: 1px solid #8cacbb;
}

table.inventory td {
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: middle;
}

table.inventory th {
    background-color: #8cacbb;
    padding-top: 3px;
    padding-bottom: 3px;
	text-align: left;
}
table.inventory th.permissions {
	padding-left: 0.5em;
}

.parity0 { background-color: #dee7ec; }
.parity1 { background-color: #eff8fd; }

.inventory td.permissions {
    font-family: monospace;
    width: 10em;
	padding-left: 0.5em;
}

.inventory td.filename {
    font-family: monospace;
}

.inventory td.revision {
    width: 8em;
}

.inventory td.changes-link {
    width: 6em;
}


/* ----- file annotation ----- */

.annotate table {
	border-collapse: collapse;
    width: 100%;
    font-size: 66%;
}

.annotate td {
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: bottom;
}

.annotate td.lineno {
	font-family: monospace;
	text-align: right;
	width: 4em;
	padding-right: 5px;
	font-weight: bold;
	border-bottom: 1px solid #8cacbb;
}

.annotate td.revno {
	font-family: monospace;
	text-align: right;
	width: 5em;
	padding-right: 5px;
	border-right: 1px solid #8cacbb;
}

.annotate td.text {
    font-family: monospace;
    padding-left: 1em;
}

.annotate th {
    background-color: #8cacbb;
    padding-top: 3px;
    padding-bottom: 3px;
	text-align: left;
}

.annotate th.lineno {
    text-align: right;
}

.annotate th.revision {
    text-align: right;
}

.annotate th.text {
	padding-left: 1em;
}

.annotate td.changed {
	xxborder-top: 1px solid #8cacbb;
}


