
/* from launchpad */
body {
    background-color: #fcfcfc;
    color: black;
    font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
    font-size: 12pt;
    padding: 0px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #000088;
}
a:hover {
    color: black;
}

img {
    border: none;
}

h1 {
    color: #708a96;
    font-weight: normal;
    font-size: 1.6em;
    margin-bottom: 1.5em;
}
h1 .filename {
    font-family: monospace;
}

.branch-name {
    color: #47626e;
}

.footer {
	margin-top: 1em;
	margin-bottom: 1em;
}
.footer .banner {
	margin-right: 5px;
}
.footer .banner img {
	border: 1px solid #8cacbb;
}

.hide-all {
    font-size: smaller;
}



/* ----- navigation bar at the top ----- */

.navbar {
}

.navbar table, .bar table {
    width: 100%;
}

.bar {
    background-color: #dee7ec;
    border: 1px solid #8cacbb;
    font-size: smaller;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* revision navigation buttons (the ones at the top right) */
.navbuttons {
    padding: 2px;
    bottom: 0px;
    text-align: right;
    width: auto;
    border-left: 1px dotted #8cacbb;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.navbuttons a {
    font-weight: normal;
    margin-left: 2px;
    margin-right: 2px;
}

.navbuttons a:hover {
    padding: 0;
    color: blue;
}

/* navigation button in the pages (the ones at the top left, and bottom) */
.buttons {
}

.buttons a,.buttons .search {
    font-weight: normal;
    color: #000088;
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 7px;
    border-right: 1px dotted #8cacbb;
}

.buttons a:hover,.rbuttons a:hover {
    font-weight: normal;
    color: blue;
}

.feed img {
    vertical-align: text-top;
}

.rbuttons a {
    font-weight: normal;
    color: #000088;
    font-size: 12pt;
    padding-right: 7px;
    padding-left: 10px;
    border-left: 1px dotted #8cacbb;
    text-align: right;
    width: auto;
}

/* ----- revision display in various places ----- */

.revision .revno {
    font-weight: bold;
}

.revision .revid {
    font-family: monospace;
    font-size: smaller;
    padding-left: 1em;
}

.revision .log {
    font-size: smaller;
}


/* ---- sub-links underneath the headline on some pages ----- */

div.links {
    padding-top: 0.5em;
    padding-left: 3em;
    font-size: 50%;
}

div.links div {
    margin-bottom: 3px;
}


/* ----- list of merge points for a revision ----- */

.info-entry {
    font-size: smaller;
    margin-bottom: 2em;
    padding: 0px;
    background-color: #f4f5f8;
    border: 1px solid #8cacbb;
    width: 60%;
}

.info-entry th {
    background-color: #dee7ec;
    font-weight: normal;
    color: black;
    text-align: right;
    vertical-align: top;

    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;
}

.info-entry td {
    font-weight: normal;
    padding-left: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;
}


/* ----- changelog page ----- */

/* secret css-jutsu to make hidden margins vanish on a table */
.log-entries table {
    border-collapse: collapse;
    width: 100%;
}

.log-entries .revision-header {
    background-color: #dee7ec;
    padding: 3px;
    width: 80%;
    margin-top: 1em;
    margin-left: 1em;
}

.log-entries .revision-header td.expand-button {
    width: 20px;
}

.log-entries .revision-header .revision-number {
    width: 6em;
    padding-left: 0.5em;
}

.log-entries .revision-header .inventory-link {
    font-size: smaller;
    vertical-align: middle;
    width: 4em;
    text-align: right;
    padding-right: 0.5em;
}

.log-entries .revision-details-block {
    width: 80%;
    border: none;
    margin-left: 8em;
    margin-bottom: 1.5em;
}

.log-entries .revision-details table {
    font-size: smaller;
    width: 100%;
}

.log-entries .revision-details th {
    width: 8em;
    text-align: right;
    padding-right: 0.5em;
    vertical-align: top;
}

.log-entries .revision-details td.date {
/*    font-family: monospace; */
}

.log-entries .revision-details th.files {
    padding-top: 1em;
}

.log-entries .revision-details td.files {
    padding-top: 1em;
}

.log-entries .revision-details td.files .filename {
    font-family: monospace;
}

.log-entries .revision-details td.files .jump {
    font-size: smaller;
}

.log-entries .revision-details th.description {
    padding-top: 1em;
}
.log-entries .revision-details td.description {
    font-family: monospace;
    padding-top: 1em;
}

/* default state: hide all */
.revision-header .hide-button { display: none; }
.hidden-details { display: none; }
.changelog .hide-all#hide-all { display: none; }


/* ----- revision page ----- */

.revision-info {
    border: none;
    font-size: smaller;
    margin-bottom: 1em;
    padding: 0;
    background-color: #f4f5f8;
    border: 1px solid #8cacbb;
    width: 80%;
}

/* secret css-jutsu to make hidden margins vanish on a table */
.revision-info table {
    border-collapse: collapse;
    width: 100%;
}

.revision-info th {
    background-color: #dee7ec;
    color: black;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
    
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;
}

.revision-info td {
    font-weight: normal;
    padding-left: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;
}

.revision-info table td.date {
    font-family: monospace;
}

.revision-info table td.description {
    font-family: monospace;
}

.revision-info table td.files .filename {
    font-family: monospace;
}

.revision-info table td.files a.jump {
    font-size: smaller;
}
    
.revision-info table tr.divider {
    border-top: 1px solid #8cacbb;
}


/* ----- overly complex diff display ----- */

.diff {
    margin-bottom: 1em;
    padding-top: 10px;
    width: 100%;
    background-color: #fcfcfc;
    font-family: monospace;
}


.diff-block {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

.diff-block th.filename {
    font-family: monospace;
    font-weight: normal;
    font-size: smaller;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    background-color: #dee7ec;
}

.diff-block .diff-chunk {
    font-size: 66%;
    margin-top: 0px;
    margin-bottom: 2em;
}

.diff-block th.lineno {
    font-weight: bold;
    border-bottom: 1px solid #8cacbb;
    border-top: 1px solid #dee7ec;
}

.diff-block .diff-spacing {
	line-height: 1em;
}

.diff-block .show-button { display: none; }
.revision-page .hide-all#show-all { display: none; }

.diff-insert {
    background-color: #b0efb0;
}
.diff-delete {
    background-color: #ffa0a0;
}
.diff-chunk td.text {
    padding-left: 1em;
}

.diff-key {
    margin-top: 20px;
    font-size: smaller;
    line-height: 1em;
    padding-left: 1em;
}

.diff-key-block {
    width: 0.7em;
    height: 0.7em;
    border: 1px solid #8cacbb;
    margin-right: 5em;
}

.diff-key .label {
    position: relative;
    left: 1.3em;
    top: -1em;
    line-height: 1em;
}

.diff .lineno {
    color: purple;
    background-color: #dee7ec; 
    width: 4em;
    text-align: right;
    padding-right: 3px;
    border-bottom: 1px solid #8cacbb;
}
.diff .lineno-skip {
    width: 4em;
    background-color: #dee7ec; 
}
.diff .info {
    color: blue;
    background-color: #dee7ec;
    margin-top: 15px;
}


/* ----- file inventory ----- */

.inventory-path {
    margin-top: 2em;
}

table.inventory {
    border-collapse: collapse;
    width: 80%;
    font-size: smaller;
    margin-top: 1em;
    border: 1px solid #8cacbb;
}

table.inventory td {
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
}

table.inventory th {
    background-color: #8cacbb;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
}

table.inventory th.permissions {
    padding-left: 0.5em;
}

.parity0 { background-color: #dee7ec; }
.parity1 { background-color: #eff8fd; }

.inventory td.permissions {
    font-family: monospace;
    width: 9em;
    padding-left: 0.5em;
}

.inventory td.filename {
    font-family: monospace;
}

.inventory td.size {
	font-family: monospace;
	font-size: smaller;
	width: 5em;
}

.inventory td.revision {
    width: 8em;
    padding-right: 1.5em;
}

.inventory td.date {
    font-family: monospace;
    font-size: smaller;
    width: 10em;
    padding-right: 1.5em;
}

.inventory td.changes-link {
    width: 6em;
    font-size: smaller;
}

.inventory td.download-link {
    width: 8em;
    font-size: smaller;
}

span.folder {
    font-family: monospace;
}


/* ----- file annotation ----- */

.annotate-path {
    font-family: monospace;
}

.annotate table {
    border-collapse: collapse;
    width: 100%;
    font-size: 66%;
}

.annotate td {
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: bottom;
}

.annotate td.lineno {
    font-family: monospace;
    text-align: right;
    width: 4em;
    padding-right: 5px;
    font-weight: bold;
    border-bottom: 1px solid #8cacbb;
}

.annotate td.revno {
    font-family: monospace;
    text-align: right;
    width: 8em;
    padding-right: 5px;
    border-right: 1px solid #8cacbb;
}

.annotate td.text {
    font-family: monospace;
    padding-left: 1em;
}

.annotate th {
    background-color: #8cacbb;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
}

.annotate th.lineno {
    text-align: right;
}

.annotate th.revision {
    text-align: right;
    padding-right: 5px;
}

.annotate th.text {
    padding-left: 1em;
}


/* ----- top-level browse page ----- */

.browse-project-name {
    background-color: #dee7ec;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    width: 90%;
    font-weight: bold;
}

.browse-project-description {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 2em;
    width: 90%;
}
	
.browse-view {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
}

.browse-view table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 2em;
}

.browse-view table tr.heading {
    background-color: #8cacbb;
    border-bottom: solid 1px #8cacbb;
    font-size: smaller;
}

.browse-view td,.browse-view th {
	padding: 0.25em 0.5em 0.25em 0.5em;
}

.browse-view td.name {
	width: 20%;
}

.browse-view td.last-update {
	font-size: smaller;
	width: 15%;
}

.browse-view td.url {
	font-family: monospace;
	font-size: smaller;
	padding-left: 3em;
	padding-top: 0px;
}

.browse-view td.feed {
	width: 16px;
}
