/*table*/
#logentries,
.viewRev,
.viewLine {
    border: 1px solid #d2d2d2;
}
.viewRev {
    border-right: none;
    white-space: nowrap;
    width: 1px;
    padding: .3em .6em;
}
.viewComm,
.viewCont {
    border: none;
    }
.viewLine {
    border-style: none solid none none;
    width: 20px;
    padding-left: .6em;
    padding-right: .2em;
    }
.viewLine.first {
    border-style: solid solid none none;
}
.viewCont {
    padding-left: .4em;
    }
.viewLine,
.viewCont {
    font-size: 116%;
    font-family: 'UbuntuBeta Mono', 'Ubuntu Mono', monospace;
    line-height: 108%;
    whitespace: pre;
    }
.viewCont pre {
    margin: 0;
    }
.viewLine {
    text-align: center;
    }
.viewLine {
    font-size: 93%;
    }
.viewAuthors {
    color: #999999;
}
